body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #82a5be;
    min-width: 350px;
}

#content{
    font-family: Arial, Helvetica, sans-serif;
    color: 	#144e77;
    display:  flex;
    flex-direction: column;
    width: 100%;
}

#verticalMenu{
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 290px;
    background-color: #82a5be;
    padding: 5px;
    margin: 10px 0 10px 10px;
}

#verticalMenu h1{
    font-size: 12pt;
    font-weight: bolder;
    text-align: center;
    margin: 20px 0 10px;
}

#verticalMenu input[type=text]{
    font-size: 14px;
    border: none;
    width: 180px;
    height: 18px;
    margin: 4px;
}

#verticalMenu form input[type="button"]{
    background-color: #a7c1d4;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: none;
    width: 80px;
    height: 20px;
    margin: 6px;
}

.savedGame {
    font-size: 11pt;
    margin: 4px;
    list-style-type: none;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: 	#a7c1d4 ;
    padding-top: 15px;
    margin: 10px 10px 0 10px;
}

.headerTitle{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bolder;
}

.headerImage{
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

.headerDescription{
    padding: 20px;
    text-align: center;
    font-size: 12px;
}

#board{
    display: flex;
    justify-content: center;
    background-color:	#d7e6f1;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

#board button {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px;
}

.ballPlace{
    background-color: #105ebb;
    border: 2px solid #013d78;
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65) 
}

.ballPlace:hover{
    background-color: #82a5be;
    border: 2px solid #d7e6f1;
}

.ballSelected{
    background-color: #d7e6f1;
    border: 2px solid #82a5be;
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65) 
}

.ballPlaceEmpty{
    background-color: #fff;
    border: #82a5be solid 2px;
}

.ballPlaceEmpty:hover{
    /*Dosent apear the hand on the cursor*/
    cursor: default;
}

.ballPlaceAvailable{
    background-color: #aadab4;
    border: #82be87 solid 2px;
}

.hidden{
    visibility: hidden;
}

footer{
    text-align: center;
    background-color: 	#a7c1d4 ;
    margin: 0 10px 10px 10px;
    padding-top: 15px;
}

.footerTitle{
    align-items: center;
    font-size: 15px;
    font-weight: bolder;
}

.footerDescription{
    padding: 10px 10px 8px 10px;
    text-align: center;
    font-size: 10px;
}

footer .footerDescription p {
    margin: 6px;
}

@media (min-width: 500px){
    .headerTitle, .footerTitle{
        font-size: 15px;
    }
    
    .headerDescription, .footerDescription{
        font-size: 10px;
    }

    #board button{
        width: 30px;
        height: 30px;
        border-radius: 30px;
    }
}

@media (min-width: 1000px){
    .headerTitle, .footerTitle{
        font-size: 18px;
    }
    
    .headerDescription, .footerDescription{
        font-size: 12px;
    }

    #board button{
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }
}

@media (min-width: 1200px){
    .headerTitle, .footerTitle{
        font-size: 22px;
    }
    
    .headerDescription, .footerDescription{
        font-size: 16px;
    }

    #board button{
        width: 45px;
        height: 45px;
        border-radius: 45px;
    }
}