body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #82a5be;
    min-width: 350px;
}

#score h2, .headerTitle, .footerTitle{
    font-weight: bolder;
    font-size: 15px;
}

.headerDescription, .footerDescription{
    text-align: center;
    font-size: 12px;
}

#content{
    font-family: Arial, Helvetica, sans-serif;
    color: 	#144e77;
    display:  flex;
    flex-direction: column;
    width: 100%;
}

/*-------------Save Menu-------------*/
#verticalMenu{
    position: fixed; /*Stay in place*/
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0px; 
    z-index: 1;
    top: 10px;
    left: 10px;    
    background-color: #82a5be;
    overflow-x: hidden;
    transition: 0.5s;
    font-size: 14px;
}

#verticalMenu #closeNav {
    display: block; /*Occupy all the space available*/
    text-align: right;
    font-size: 36px;
    margin: 10px;
    text-decoration: none;
    color: #BBBBBB;
    transition: .3s ease all; /*Wait a little to do the hover*/
}

#verticalMenu #closeNav:hover{
    color: #000;
}

#verticalMenu h1{
    font-weight: bolder;
    text-align: center;
    margin: 0 0 10px;
}

#verticalMenu input[type=text]{
    border: none;
    width: 180px;
    height: 18px;
    margin: 4px;
    padding-left: 3px;
}

#verticalMenu form input[type="button"], #openNav{
    background-color: #778996;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: none;
    width: 80px;
    height: 20px;
    margin: 6px;
    border-radius: none;
    border: 2px solid #40546d; 
}

#verticalMenu form input[type="button"]:hover, #openNav:hover{
    background-color: #8fa9bb;
}

.savedGame {
    font-size: 15px;
    margin: 4px;
    list-style-type: none;
}

/*-------------Header---------------*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: 	#a7c1d4 ;
    padding-top: 15px;
    margin: 10px 10px 0 10px;
}

.headerTitle{
    display: flex;
    align-items: center;
}

.headerImage{
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

.headerDescription{
    padding: 20px;
}

/*-------------Board---------------*/
#board{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:	#d7e6f1;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

#score{
    margin: 5px;
}

#board button {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px;
}

.ballPlace, .ballSelected{
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65) 
}

.ballPlace{
    background-color: #105ebb;
    border: 2px solid #013d78;
}

.ballSelected{
    background-color: #d7e6f1;
    border: 2px solid #82a5be;
}

.ballPlace:hover{
    background-color: #82a5be;
    border: 2px solid #d7e6f1;
}

.ballPlaceEmpty{
    background-color: #fff;
    border: #82a5be solid 2px;
}

.ballPlaceEmpty:hover{
    /*Dosent apear the hand on the cursor*/
    cursor: default;
}

.ballPlaceAvailable{
    background-color: #aadab4;
    border: #82be87 solid 2px;
}

.hidden{
    visibility: hidden;
}

#board #openNav{
    width: 90px;
    height: 25px;
    margin: 8px;
    border-radius: none;
    border: 2px solid #40546d;
    font-size: 8px; 
}

/*-------------Footer--------------*/
footer{
    text-align: center;
    background-color: 	#a7c1d4 ;
    margin: 0 10px 10px 10px;
    padding-top: 15px;
}

.footerDescription{
    padding: 10px 10px 8px 10px;
}

footer .footerDescription p {
    margin: 6px;
}

/*-------------Popup---------------*/
.overlay{
    display: flex;
    align-items: center; /*Aling on the cross axis*/
    justify-content: center; /*Aling on the main axis*/
    background-color: rgba(0, 0, 0, 0.50); /*Black transparent*/
    position: fixed; /*All the page*/
    /*Ocuppy all the page*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.popup{
    background-color: #f8f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65); /*Simulate a shadow*/
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 400px;
}

.btnClosePopup{
    font-size: 20px;
    display: block; /*Occupy all the space available*/
    text-align: right;
    color: #BBBBBB;
    text-decoration: none;
    transition: .3s ease all; /*Wait a little to do the hover*/
}

.btnClosePopup:hover{
    color: #000;
}

.popup h3{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.popup h4{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
}

.popup form .containerInputs input{
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #BBBBBB;
}

.popup form .btnSaveScore{
    padding: 0px 10px;
    border: none;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #144e77;
    border-radius: 3px;
    transition: .3s ease all;
}

.popup form .btnSaveScore:hover{
    background-color: rgba(20, 78, 119, 0.9);
}

@media (min-width: 500px){
    .headerImage{
        width: 25px;
        height: 25px;
    }

    .headerTitle, .footerTitle, #score h2{
        font-size: 15px;
    }
    
    .headerDescription, .footerDescription{
        font-size: 10px;
    }

    #board button{
        width: 30px;
        height: 30px;
        border-radius: 30px;
    }

    #board #openNav{
        width: 90px;
        height: 25px;
        margin: 6px;
        font-size: 9px;
    }
}

@media (min-width: 1000px){
    .headerImage{
        width: 35px;
        height: 35px;
    }

    .headerTitle, .footerTitle,#score h2{
        font-size: 18px;
    }
    
    .headerDescription, .footerDescription{
        font-size: 12px;
    }

    #board button{
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }

    #board #openNav{
        width: 120px;
        height: 25px;
        margin: 7px;
        font-size: 10px;
    }
}

@media (min-width: 1200px){
    .headerImage{
        width: 45px;
        height: 45px;
    }

    .headerTitle, .footerTitle,#score h2{
        font-size: 20px;
    }
    
    .headerDescription, .footerDescription{
        font-size: 14px;
    }

    #board #openNav{
        width: 150px;
        height: 25px;
        margin: 8px;
        font-size: 12px;
    }
}